extends template

block body
    h1 Authorisation Example
    p Welcome to Infinite Bangalore <br/> click here to login <a href="/login">Login</a> <br/> click here to register <a href="/register">Register</a>
